@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-main {
  min-height: 100%
}

.app-container {
  padding: 20px;
  background-color: #F4F5F9;
	.app-title {
    width: 100%;
    height: 42px;
    line-height: 42px;
    background-color: #fff;
    font-size: 14px;
    color: #333;
    padding-left: 24px;
    margin-bottom: 24px;
    span {
      font-size: 12px;
      color: #999;
    }
	}
  .not-data-pic {
    width: 120px;
    padding-top: 30px;
  }
  .not-data-text {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  //模拟无滚动条滚动
  .outer-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .inner-container {
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
  }
  .srcoll-content {
    width: 100%;
  }
   /* for Chrome */
  .inner-container::-webkit-scrollbar {
    // display: none;
  }
}
